[Desktop Entry]
Name=akonadiexport
Name[ast]=akonadiexport
Name[bg]=akonadiexport
Name[ca]=akonadiexport
Name[ca@valencia]=akonadiexport
Name[cs]=akonadiexport
Name[da]=akonadiexport
Name[de]=akonadiexport
Name[el]=akonadiexport
Name[en_GB]=akonadiexport
Name[eo]=akonadiexport
Name[es]=akonadiexport
Name[et]=akonadiexport
Name[fi]=akonadiexport
Name[fr]=akonadiexport
Name[ga]=akonadiexport
Name[gl]=akonadiexport
Name[hu]=akonadiexport
Name[it]=akonadiexport
Name[ja]=akonadiexport
Name[kk]=akonadiexport
Name[km]=akonadiexport
Name[ko]=akonadiexport
Name[lv]=akonadiexport
Name[nb]=akonadiexport
Name[nds]=akonadiexport
Name[nl]=akonadiexport
Name[nn]=akonadiexport
Name[pa]=akonadiexport
Name[pl]=akonadiexport
Name[pt]=akonadiexport
Name[pt_BR]=akonadiexport
Name[ro]=akonadiexport
Name[ru]=akonadiexport
Name[sr]=akonadiexport
Name[sr@ijekavian]=akonadiexport
Name[sr@ijekavianlatin]=akonadiexport
Name[sr@latin]=akonadiexport
Name[sv]=akonadiexport
Name[tr]=akonadiexport
Name[uk]=akonadiexport
Name[x-test]=xxakonadiexportxx
Name[zh_CN]=akonadiexport
Name[zh_TW]=akonadiexport
Exec=akonadiexport %i -caption "%c"
Icon=akonadiexport
Type=Application
X-DocPath=akonadiexport/index.html
GenericName=A KDE4 Application
GenericName[ast]=Una aplicación de KDE4
GenericName[bg]=Програма за KDE4
GenericName[ca]=Una aplicació del KDE4
GenericName[ca@valencia]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fi]=KDE4-sovellus
GenericName[fr]=Une application pour KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un'applicazione di KDE 4
GenericName[ja]=KDE 4 アプリケーション
GenericName[kk]=KDE4 қолданбасы
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lv]=KDE4 lietotne
GenericName[nb]=Et KDE4-program
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@ijekavian]=КДЕ‑4 програм
GenericName[sr@ijekavianlatin]=KDE4 program
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=true
